@import url('https://rsms.me/inter/inter.css');

/* purgecss start ignore */
@tailwind base;
html {
  @apply font-body;
}

.headline-text {
  font-size: 4.75rem;
  line-height: 5rem;
}

.project-number {
  font-size: 13rem;
  line-height: 14rem;
}

@media (max-width: 767px) {
  .headline-text {
    font-size: 4.75rem;
    line-height: 5rem;
  }

  .project-number {
    font-size: 10rem;
    line-height: 11rem;
  }
}

.h-96 {
  height: 24rem;
}

#delivery {
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #ffffff 10%,
    #59c9dc 10%,
    #59c9dc 90%,
    #ffffff 90%,
    #ffffff 100%
  );
}

.bg-img-left {
  background-image: url('/images/bg-hero.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: 50%;
}

.bg-gradient {
  background: linear-gradient(#0da2db, #0fba9e);
  opacity: 0.78;
}

.bg-gradient-menu {
  background: linear-gradient(#0da2db, #0fba9e);
}

.logo-middle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-services {
  position: absolute;
  bottom: 55px;
  display: block;
  width: 100%;
  text-align: center;
  z-index: 11;
}

/* purgecss end ignore */

@tailwind components;
@tailwind utilities;
